<app-banner-widget [heading]="' About Us'"></app-banner-widget>
<div class="section about">

  <p>
    <br><br>
    Siphephile Scaffolding Solutions was established in 27 May 2015, with a well experienced staff within scaffolding
    and construction sector. Siphephile Scaffolding Solutions (Pty) Ltd was established by two individuals Mthobisi
    Maphumulo and Mlungisi Nicholas Kheswa. Siphephile Scaffolding Solutions (Pty) Ltd is a turnkey scaffolding and
    access solution company – specialising in the erection, modification and dismantling of access scaffolding to the
    entire major construction, mining and media companies here in South-Africa.
    With a wealth of experience expanding over couple of months the company is able to provide a safe knowledgeable
    solution to
    any access enquiry.
    <br> <br>

    <b>
      Aim and Values
    </b>
    <br>

    We strive to achieve sustainable zero tolerance towards compromise on safety, whilst striving to be an all in one
    provider of scaffolding management & supplier of alternative access solutions.
    <br><br>
    <b>
      Siphephile Scaffolding Solutions key core values:
    </b>
    <br>
    <span class="s1">
      Integrity
    </span>

    <span class="s2">
      Health and Safety
    </span>

    <span class="s1">
      Team Work Service
    </span>

    <span class="s2">
      Team Work Service
    </span>

    <span class="s1">
      Team Work Service
    </span>

    <br> <br>

    <b>
      DIVISIONS
    </b>
    <br>

    Siphephile Scaffolding Solution’s main core business is the Safety and ppe, prepare scaffolding foundations, erect
    and dismantle trestle/mobile towers /system scaffolding, erect and dismantle of cantilever /bridge /hanging
    scaffolding, erect and dismantle of a barrow ramp scaffolding, erect and dismantle of birdcage scaffold, interpret
    and working of drawings, correct staircase access methods, importance of toe boards and handrails, height and widths
    ratios.
    <br> <br>

    Siphephile Scaffolding Solutions can provide onsite skilled and fully qualified scaffold teams for long and short
    term contracts. All site specific Health and Safety requirements can be met and adhered to, backed up by all
    relevant certifications, including, scaffold handover certificates complete with “safe to use” tags installed on the
    scaffolds and engineers sign off when required . <br><br>

    All types of scaffolding, from the most basic to the more complex hanging, truss out, support shore scaffold and
    engineered design scaffold can be done.
    There is no scaffolding project that Siphephile Scaffolding Solution’s experienced team cannot erect safely and on
    time every time.
    Siphephile Scaffolding Solutions can also provide shore scaffolding, the support work for concrete casting not
    including the shuttering. Our scaffold will be erected from base jack to
    U head Jack, then allowing the contractor to install all beam work and shuttering as per their
    requirements.



    <br> <br>

    <b>
      SAFETY
    </b>
    <br>

    Siphephile Scaffolding Solutions always strives to maintain a HIGH quality of safety for their employees and clients.
All scaffolding erected by Siphephile Scaffolding Solutions conforms to the safety standards prescribed by, specifically, The Occupational Health and Safety Act 85 of 2014 & SANS 10085.
Our employees are trained in the handling, erection, modification and dismantling of scaffolding. All of our erectors and inspectors have certificates of competency as well as working at heights medicals.
<br><br>

Siphephile Scaffolding Solutions also has a standard safety file that complies with The Occupational Health and Safety Act of 2014 & SANS 10085, the safety file can be adapted to site specific health and safety regulations as per the customer requirements. This will also include insurances like The Federated Employers’ Mutual (FEM) and Public Liability Insurance.
Our team of directors and managers have worked on prestigious projects with civil contractors, building contractors, marine contractors as well as offshore/onshore contractors and contractors in many other related fields – working in and around South- Africa. Our experience and knowledge covers a wide
range of applications including –

<br>

<br>
<span class="s1">
  Events
</span>

<span class="s2">
  Industrial
</span>

<span class="s1">
  Domestic
</span>

<span class="s2">
  Construction
</span>

<span class="s1">
  Maintenance
</span>

<span class="s2">
  Shutdowns
</span>

<span class="s1">
  Petro-Chemical
</span>

<span class="s2">
  Mining Industry
</span>


<br>

<br><br>

  </p>

  <app-business-units [hideBanner]="hideBanner"></app-business-units>





</div>
