<div class="slider">
  <div class="col" @slideIn>
    <h1>
      We are a turnkey scaffolding and access solutions.
      <span>
        Specialising in the erection, modification and dismantling of access scaffolding to the entire
        major construction, mining and media companies here in South-Africa.
      </span>


    </h1>
    <a routerLink="/our-services">
      <button>Our Services</button>
    </a>
  </div>

  <div class="col">
    <img @slideInRigth src="assets/images/home1.png" alt="">
  </div>
</div>


